// 1. Zmienne (muszą być pierwsze!)
@import "abstracts/variables";

// 2. Layout
@import "layout/base";
@import "layout/sidebar";

// 3. Komponenty
@import "components/auth";
@import "components/cards";
@import "components/buttons";
