body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

// GŁÓWNA TREŚĆ
#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
}